*{
    margin: 0;
    padding: 0;
}
body{
    font:14px "微软雅黑";
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
.wrap{
    width:980px;
    margin:30px auto;
    position:relative;
}
/* 头部 */
header{
    position:relative;
    width:100%;
    height:99px;
    background: #fff url(../images/cofe-1_01.jpg) repeat-x ;
}
.welcome{
    position:absolute;
    top:-24px;
    left:0;
    -webkit-animation: welcomeMove 18s ease-in-out infinite alternate;
}
@keyframes welcomeMove {
    from{
        left:0px;
    }
    to{
        left:900px;
    }
}
@-webkit-keyframes welcomeMove{
    from{
        left:0px;
    }
    to{
        left:900px;
    }
}
header>.logo{
    width:225px;
    height:64px;
    float:left;
}
header>.logo>img{
    overflow: hidden;
    width:225px;
    height:64px;
    border:0;
    margin-top:6px;
}
header>.header-nav{
    background-color: #fff;
    width:383px;
    float:left;
}
header>.header-sitemap{
    float:right;
    margin-right:6px;
    background-color: #000;
    border-radius: 4px;
}
header>.header-sitemap>ul>li{
    float:left;
}
header>.header-sitemap>ul>li>a{
    display:block;
    padding:4px 10px;
    color:#fff;
    text-decoration: none;
}
header:after{
    display:block;
    content:"";
    width:0;
    height:0;
    border:0;
    clear:both;
}
/* 头部搜索 */
.search{
    position:absolute;
    top:52px;
    left:260px;
}
.search input[type=search]{
    background:#fff url(../images/search.jpg) no-repeat 9px center;
    border:1px solid #ccc;
    padding:9px 10px 9px 32px;
    width:500px;
    border-radius: 10em;
}
.search input[type=submit]{
    position:relative;
    left:-57px;
    top:2px;
    background-color: #e3f1ff;
    border:none;
    font-size:18px;
    padding:4px 8px 5px;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
}
/*  菜单  */
.menu{
    position:relative;  /* 绝对定位的参照对象  */
    width:980px;
    height:60px;
    background-color: #666;
    background-image: linear-gradient(#666,#444);
}
.menu>.nav{
    position:relative;  /* 绝对定位的参照对象  */
    top:0;
    padding-left:50px;
    height:58px;
    line-height: 58px;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
.menu>.nav:hover{
    background-color: rgb(53,58,66);
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.menu-item{
    position:relative;
    display:inline-block;
    margin-right:10px;
    padding-top:1px;
    height:58px;
    width:140px;
}
.menu-item>a{
    display:block;
    height:57px;
    text-align:center;
    color:#fff;
    border-bottom:3px solid transparent;
}
.menu-item>a:hover{
    color:rgb(0,189,213);
    border-bottom: 3px solid rgba(0,189,218,1);
}
.sub-menu{
    visibility: hidden;   /* 隐藏，依然存在于页面中  */
    opacity: 0;
    position:absolute;
    top:59px;
    width:140px;
    left:50%;
    margin-left:-70px;
    background-color: #666;
    background-image: linear-gradient(rgb(53,58,66),#666);
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    z-index:1000;
}
.menu-item:hover>.sub-menu{
    opacity: 1;
    visibility: visible;
}
.menu-item>.sub-menu li>a{
    display:block;
    color:#bbb;
    height:36px;
    line-height:36px;
    text-align:center;
}
.sub-menu li>a:hover{
    position:relative;
    color:#fff;
    font-weight:bold;
}
.sub-menu li>a:hover:before,
.sub-menu li>a:hover:after{
    display:inline-block;
    position:relative;
    content:"";
    width:0;
    height:0;
    top:2px;
    border:8px solid transparent;
}
.sub-menu li>a:hover:before{
    border-left-color: #fff;
}
.sub-menu li>a:hover:after{
    border-right-color: #fff;
}
/* 页脚 */
footer{
    width:980px;
    background: #fff url(../images/cofe-1_05.jpg) repeat-x;
    margin-top:10px;
    padding:12px;
    position:relative;
    box-sizing: border-box;
}

footer>.footer-sitemap{
    position:absolute;
    top:0;
    right:0;
}
footer>.footer-sitemap>ul>li{
    display:inline-block;
    margin-left:5px;
}
footer>.footer-sitemap>ul>li>a{
    display:block;
    border-right:1px solid #000;
    padding-right:8px;
}
footer>.footer-sitemap>ul>li:last-child>a{
    padding-right: 0;
    border-right:0;
}
footer>.right-copy{
    position:absolute;
    right:0;
    top:30px;
}
.location{
    width:980px;
    margin:10px;
}










