.details{
    width:980px;
    overflow: hidden;
}
.details>.details-left{
    width:408px;
    height:410px;
    border:1px solid #bbb;
    float:left;
}
.details>.details-right{
    float:left;
    width:500px;
    line-height:40px;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-right:34px;
    padding-left:34px;
}
.details>.details-right .price{
    background-color: #ddd;
    margin-top:10px;
    height:80px;
    padding:5px;
}
.details>.details-right .price>.c-price{
    padding-left:50px;
    font-size:18px;
    font-weight:bold;
    color:red;
}
.details>.details-right .price>.activity{
    padding-left:23px;
    color: #ff8726;
}
.details>.details-right .freight{
    padding-left:55px;
}
.details>.details-right .weight{
    padding-left:55px;
    font-weight:bold;
    color:#bbb;
}
.details>.details-right .sales{
    border-top:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
    padding:5px 30px;
}
.details>.details-right .sales>span{
    color:red;
    font-weight:bold;
    font-size:16px;
    padding-left:3px;
}
.details>.details-right .sales>.sep{
    color:#ccc;
    padding-left:30px;
    padding-right:30px;
}
.details>.details-right .number{
    margin:10px 0;
}
.details>.details-right .number>input{
    width:50px;
    height:30px;
    line-height:30px;
    padding-left:5px;
}
.details>.details-right .buy{
    margin:20px 0;
    text-align:center;
}
.details>.details-right .buy>input{
    background-color:red;
    border-radius: 9px;
    padding:10px 50px;
    margin:3px 30px;
}
.details>.details-right .buy>.btn-buy{
}