/*  轮播图 */
.carousel{
    position:relative;
    width:980px;
    height:405px;
}
.carousel-inner{
    position:relative;
    width:100%;
    overflow: hidden;
}
.carousel-inner>.img-item{
    display:none;
    position:relative;
}
.carousel-inner>.active{
    display:block;
    left:0;
}
.carousel-inner>.img-item>img{
    width:980px;
    height:405px;
    border:0;
}
.img-item-caption{
    position:absolute;
    left:0;
    right:0;
    bottom:40px;
    text-align:center;
    font:16px "华文楷体";
    color: #000;
    font-weight:bold;
    text-shadow: 0 1px 2px rgba(255,255,255,0.6);
}
.carousel-indicators{
    position:absolute;
    left:50%;
    width:60%;
    margin-left:-30%;
    bottom:10px;
    text-align:center;
    list-style:none;
}
.carousel-indicators>li{
    display:inline-block;
    width:10px;
    height:10px;
    padding:1px;
    background-color: #000;
    border-radius: 10px;
    border:1px solid #fff;
}
.carousel-indicators>.active{
    width:12px;
    height:12px;
    margin:0;
    background-color: red;
}
.carousel-control{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:15%;
    font-size:64px;
    color:#fff;
    text-align:center;
    background-color: #999;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-control.left{
    left:0;
    right:auto;
}
.carousel-control.right{
    right:0;
    left:auto;
}
a.carousel-control{
    line-height:405px;
    text-decoration: none;
}
.menu{
    position:relative;  /* 绝对定位的参照对象  */
    width:980px;
    height:60px;
    background-color: #666;
    background-image: linear-gradient(#666,#444);
}
/* 主要内容 */
.main{
    width:980px;
    height:435px;
    position:relative;
    overflow: hidden;
}
.background{
    width:980px;
    height:435px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:-1;
    font-size:0;
}
.main>.member{
    width:85px;
    height:25px;
    padding:90px 50px;
}
.main>.member>p{
    width:85px;
    height:25px;
    margin-bottom:5px;
    background:url("../images/login.png") ;
}
.main>.member>p>a{
    display:block;
    width:85px;
    height:25px;
    line-height:25px;
    text-align:center;
    text-decoration: none;
    color:#000;
}
.main>.member>p>a:hover{
    background:url("../images/login1.png") ;
}
.main>.tabs{
    width:198px;
    position:absolute;
    top:15px;
    right:120px;
}
.main>.tabs>.tabs-label{
    border-bottom:3px solid #ff8726;
}
.main>.tabs>.tabs-label>li{
    display:inline-block;
    width:62px;
    height:24px;
    background:url("../images/ye2.png") no-repeat;
    line-height:24px;
    text-align:center;
    color:#000;
}
.main>.tabs>.tabs-label>.active{
    background:url("../images/ye.png") no-repeat;
    color:#fff;
}
.main>.tabs>.tabs-content>.tabs-pane{
    display:none;
}
.main>.tabs>.tabs-content>.active{
    display:block;
}
.main>.tabs>.tabs-content>.tabs-pane>ul>li{
    height:24px;
    border-bottom:1px solid gold;
    list-style-position: inside;
    list-style-image: url(../images/news.png);
}
.main>.tabs>.tabs-content>.tabs-pane>ul>li:hover{
    list-style-image: url(../images/news1.png);
}

.main>.tabs>.tabs-content>.tabs-pane>ul>li>a{
    display:inline-block;
    height:23px;
    line-height:23px;
    text-decoration: none;
    color:#000;
    padding-left:8px;
}
.main>.tabs>.tabs-content>.tabs-pane>ul>li>a:hover{
    color:#fff;
}
.main>.product{
    width:198px;
    position:absolute;
    right:120px;
    top:150px;
}
.main>.product>h3{
    font-size:13px;
}
/* 商品列表 */
.product-list{
    width:100%;
    overflow: hidden;
    border-bottom:1px solid #ddd;
}
.product-list>.list-caption{
    font-size:20px;
    color: #ff9a72;
    font-weight:bold;
    padding:10px 0;
}
.product-list>.list-item{
    box-sizing: border-box;
    width:196px;
    height:248px;
    padding:22px 22px 0 22px;
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    float:left;
}
.product-list>.list-item>img{
    display:block;
    width:150px;
    height:100px;
}
.product-list>.list-item>.product-title{
    padding-top:8px;
    font-size:14px;
    color:black;
}
.product-list>.list-item>p{
    padding:3px 2px;
    font-size:12px;
    color:#bbb;
}
.product-list>.list-item>p>.s-price{
    font-size:16px;
    color:red;
}
.product-list>.list-item>p>.y-price{
    text-decoration: line-through;
}
.product-list>div:nth-of-type(5n+1){
    border-left:1px solid #ddd;
}
.product-list>.list-item:hover{
    border:1px solid red;
}











