.page{
    width:100%;
    height:30px;
    margin-top:15px;
}
.page>a:link,
.page>a:visited,
.page>a:hover,
.page>a:active{
    color:#0f9ae0;
}
.page>a,
.page>span{
    display:inline-block;
    width:70px;
    padding:5px 10px;
    border:1px solid #ddd;
    text-align: center;
    margin-right:5px;
}
.page>a.number{
    width:18px;
    margin:0;
}
.page>a:hover{
    border-color: #0a628f;
    background-color:#FFEED6;
}
.page>a.active{
    font-weight: bold;
    background-color: red;
}